.special-timeline {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.special-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.special-head-down p, .special-head-up p {
  margin: 0;
  padding: 0;
}

.special-head-down {
  background-color: #1976d2;
  margin: 0;
  padding: 10px 5px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.special-head-up {
  background-color: rgb(237, 108, 2);
  margin: 0;
  padding: 10px 5px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.special-foot {
  margin: 0;
  padding: 10px 5px;
  text-align: right;
  font-size: 0.8rem;
  border-top: 1px solid #e7eaf1;
}

.special-content {
  text-align: center;
  font-size: 2rem;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 0;
}

.special-sub-content {
  text-align: center;
  font-size: 1rem;
  padding: 0;
  margin: 5px 0 20px;
}

.css-tpvds5-MuiCardContent-root:last-child {
  padding-bottom: unset!important;
}